<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="container">
      <h1></h1>
      <h2></h2>
      <h3 class="odd">身分證末碼為1、3、5可購買</h3>
      <h3 class="even">身分證末碼為2、4、6可購買</h3>
      <ul class="list">
      </ul>
      

    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>